html {
    box-sizing: border-box;

}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    background-color: hsl(30, 38%, 92%);
    max-width: 1440px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Fraunces', serif;
    
}



main {
    background-color: rgb(236, 147, 38);
    display: flex;
    flex-flow: row nowrap;
    
}

main>* {
    flex: 1;

}